<%- include('partials/_header'); %>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-7">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Numero de control</th>
                    <th>Nombre del estudiante</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                    <% if (data) { %>
                        <% for ( var i=0; i < data.length; i++){ %>
                        <tr>
                            <td><%= (i+1) %></td>
                            <td><%= data[i].ncontrol%></td>
                            <td><%= data[i].nombre%></td>
                            <td><%= data[i].email%></td>
                            <td><%= data[i].telefono%></td>
                            <td>
                                <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Eliminar</a>
                                <a href="/update/<%= data[i].id%>" class="btn btn-info">Actualizar</a>
                            </td>
                        </tr>
                        <% } %>
                    <% } %>
            </tbody>
        </table>        
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="post">
            <div class="form-group mt-3">
              <input
                type="text"
                name="ncontrol"
                placeholder="numero de control"
                class="form-control"
              />
            </div>
            <div class="form-group mt-3">
              <input
                type="text"
                name="nombre"
                placeholder="nombre del alumno"
                class="form-control"
              />
            </div>
            <div class="form-group mt-2">
              <input
                type="text"
                name="email"
                placeholder="email institucional"
                class="form-control"
              />
            </div>
            <div class="form-group mt-2">
              <input
                type="text"
                name="telefono"
                placeholder="numero de telefono "
                class="form-control"
              />
              <button type="submit" class="btn-btn-primary mt-3">
                Salvar datos
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/_footer'); %>
